* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

h3 {
  margin: 20px;
}


ul {
  display: flex;
  justify-content: left;
  list-style: none;
}

ul > li {
  margin: 20px;
}

h1 {
  color: white;
  text-align: center;
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-image: url("../public/images/desktop/image-header.jpg");
  background-size: cover;
  height: 100vh;
}
