* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Barlow", sans-serif;
}

.logo {
  margin: 20px;
}

ul {
  display: flex;
  justify-content: left;
  list-style: none;
}

ul > li {
  margin: 20px;
}

h1 {
  color: white;
  text-align: center;
  margin: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces", serif;
  font-size: 54px;
  letter-spacing: 8px;
}

header {
  background-image: url("https://res.cloudinary.com/dtkdsolsz/image/upload/v1646108986/frontend%20mentor%20challenge/image-header_sj7rtb.jpg");
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.container > .left {
  width: 50%;
}

.container > .right {
  width: 50%;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.container > div > img {
  height: 100%;
  object-fit: cover;
}

.container > div > h3 {
  margin: 40px;
  font-family: "Fraunces", serif;
  font-size: 30px;
  color: #23303e;
}

.container > div > p {
  margin: 0 40px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  color: #818498;
}

.container > div > h4 {
  margin: 40px;
  font-family: "Fraunces", serif;
  font-size: 16px;
  color: #23303e;
}

.learn-1:hover {
  cursor: pointer;
  text-decoration: underline #fad400;
}

.learn-2:hover {
  cursor: pointer;
  text-decoration: underline #fe7867;
}

.container > .graphic {
  background-image: url("https://res.cloudinary.com/dtkdsolsz/image/upload/v1646108986/frontend%20mentor%20challenge/image-graphic-design_m92roc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.graphic > p,
.photography > p {
  margin: 20px;
  padding: 40px;
  color: #23303e;
}

.container > .photography {
  background-image: url("https://res.cloudinary.com/dtkdsolsz/image/upload/v1646108987/frontend%20mentor%20challenge/image-photography_t0sskq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.title-testimonials {
  color: gray;
  text-align: center;
  margin-top: 100px;
  font-size: 24px;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.testimonial {
  text-align: center;
  margin: 0 50px;
}

.testimonial > img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 60px;
}

.testimonial > h4 {
  font-family: "Fraunces", serif;
}

.testimonial > p {
  font-family: "Barlow", sans-serif;
  margin: 20px;
}

.container-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container-gallery > img {
  width: 25%;
}
